p{
    color: $color-parrafo;
    text-align: justify;
    }

    h2{
    color: $color-subtitulos;
    }
    
    H6{
    color: $color-parrafo
    }
    
    aside a{
    text-decoration: none;
    color: $color-parrafo
    }

    footer{
    
    h2{
        text-align: center;
        margin-top: 10px;
    }

    H5{
        color: $color-parrafo
        }
}